<tr id="object<%=email.id%>" class="trdom"><td><a href="<%=email_path(email.id)%>" data-method="GET" data-remote="true" data-params="status=true"><%= email.object%></a></td></tr>
<%email.read = !email.read%>
